body {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98vw;
    height: 98vh;
}

.container {
    width: 900px;
    height: 600px;
    border: 1px solid black;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, calc(900px/3));
}
