* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 98vw;
    height: 98vh;
}

.container {
    width: 900px;
    height: 600px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(16, calc(900px/16));
    grid-template-rows: repeat(16, calc(600px/16));
}

div {
    display: grid;
    place-items: center;
    border: 1px solid rgb(0, 0, 0);
    width: calc(900px/16);
    height: calc(600px/16);
}

.hoverColor {
    background-color: rgb(0, 0, 0);
}